/*
 * Template Base
 * @description : main source of files.css  
 *
 **/

/*Import Global Compulsory CSS Files*/
@import url(app.css);


/*Boxed Layout
------------------------------------*/
.wrapper {
  
}

/*Navber
------------------------------------------*/
ul.nav a:hover { color: #0192d8 !important; }

ul.nav .active{ color: #0192d8 !important;}


.footer {
  background-color: #aaaeb1;
}

.footer-line-blue {
	border-top: 2px solid #00528c;
}

.footer-line-sky {
	border-top: 2px solid #0192d8;
}

.color-text-white {
	color: white;
}
.color-text-blue {
  color: #00528c;
}

.color-text-gray-light {
  color: #d3d3d5;
}

.color-text-gray {
  color: #686c6f;
}

.color-text-gray-dark {
  color: #49494b;
}

.color-bg-blue {
  background-color: #00528c;
}

.error {
color: #F00 !important;
}

/*  center image and space
------------------------------------*/
.img-center {
	margin: 0 auto;	
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}


@media (max-width: 450px) {
   .img-center {
      padding: 5px;
   }   
}

/*   Navbar
---------------------------------*/
.header .navbar-default {
    border: none;
    background: none;
}
@media (max-width: 768px) {
  .header .navbar-default {
    border-color: #e7e7e7;
    background-color: #f8f8f8;
  }   
}

.navbar-collapse {
  padding-right: 0px;
}
@media (max-width: 450px) {
  .navbar-collapse {
    padding-right: 15px;
  }   
}

